{% extends "base.html" %}
{% load static %}

{% block title %}
    AATSP CT - About Us
{% endblock %}

{% block content %}
    <div class="bar_lg">
        <span>AATSP CT BOARD OF DIRECTORS 2023</span>
    </div>
    <div class="hidden_thumb">
        <div class="container text-start">
            <div class="row">
                <div class="col align-self-start">
                    <div class="text-center">
                        <img class="thumb_img" src="{% static 'images/Pro_Steven_Strange.png' %}">
                    </div>
                    <div class="thumb_bar text-center">
                        President - Steven Strange
                    </div>
                    <p>
                        Educator, translator, researcher, poet, painter, and writer was born in Rome, New York.
                        He is retired and lives in East Hartford, Connecticut. He is a member of different professional
                        associations in his areas of specialty (ANLE, ALDEEU, AATSP), and regularly collaborates in serial
                        and periodical publications. In terms of artistic creation, he has received several awards for
                        his pictures and paintings. Current President of the Historical Society of East Hartford, CT;
                        and a member of the East Hartford Historic District Commission. In July of last year, the North
                        American Academy of the Spanish Language (ANLE) published its anthology
                        Before Jametown, it was in St. Augustine, Florida.
                        This volume contains historical documents (capitulations, contracts, and royal certificates),
                        eyewitness accounts, fragments of the multiple histories of the Indies of the 16th century,
                        maps and engravings from the century of the discoveries (1500-1600).
                    </p>
                    </div>
                <div class="col align-self-end"></div>
            </div>
        </div>
    </div>
    <div class="thumb_tag">
        <div class="container text-start">
            <div class="row">
                <div class="col align-self-start"></div>
                <div class="col align-self-end">
                    <div class="text-center">
                        <img class="thumb_img" src="{% static 'images/Pro_Marilin_Sarria.png' %}">
                    </div>
                    <div class="thumb_bar text-center">
                        Treasurer -  Marilin Sarria
                    </div>
                    <p>
                        Marilin Sarria, who is originally from Cuba, has been teaching Spanish since 1996.
                        After her undergraduate in Cuba she moved to Brazil, where she completed her masters and
                        taught as a Professor of Spanish at the Central Paulista University, Brazil.
                        She has worked as an Adjunct Professor at Fairfield University, and she is currently an
                        Adjunct Professor of Spanish in the Department of World Languages and Cultures at
                        Quinnipiac University and Southern Connecticut State University (SCSU). She is active in
                        professional organizations such as AATSP-CT, for which she acts as the Connecticut Chapter
                        Treasurer and Co-Webmaster and also a member of COLT (Connecticut Council of Language Teachers).
                        Marilin loves to share her love and pride for Cuban Culture.
                    </p>
                </div>
            </div>
        </div>
    </div>
     <div class="thumb_tag">
        <div class="container text-start">
            <div class="row">
                <div class="col align-self-start">
                    <div class="text-center">
                        <img class="thumb_img" src="{% static 'images/Pro_Marcela_Ocampo.jpg' %}">
                    </div>
                    <div class="thumb_bar text-center">
                        Secretary - Marcela Ocampo
                    </div>
                    <p>
                        Marcela Ocampo was born in Colombia. She obtained two scholarships and achieved two
                        Master’s degrees: at the Instituto Caro y Cuervo in Bogotá and at the Consejo Superior de
                        Investigaciones Científicas, CSIC in Madrid. She studied at the Complutense University, Madrid.
                        Currently, she is an Adjunct Professor of Spanish at Quinnipiac University in Hamden and at
                        Sacred Heart University in Fairfield, CT.
                    </p>
                    </div>
                <div class="col align-self-end"></div>
            </div>
        </div>
    </div>
    <div class="thumb_tag">
        <div class="container text-start">
            <div class="row">
                <div class="col align-self-start"></div>
                <div class="col align-self-end">
                    <div class="text-center">
                        <img class="thumb_img" src="{% static 'images/Pro_Aileen_Dever.png' %}">
                    </div>
                    <div class="thumb_bar text-center">
                        Communications Coordinator - Aileen Dever
                    </div>
                    <p>
                        Aileen Dever, Ph.D. is a Professor of Spanish at Quinnipiac University in Hamden, CT.
                        She has served as president of CT-AATSP and has been the recipient of the CT-AATSP Service Award.
                        She also received the Pegasus Pride Award for Service from the CT Council of Language Teachers.
                        Her most recent publications include Silence and Shadows:
                        Religious Symbolism in Ana María Matute’s “La niña fea” (Romance Notes),
                        a co-authored translation: The Poetry and Prose of Rosalía de Castro:
                        A Bilingual Facing Page Edition (Edwin Mellen P),
                        and a co-authored translation of Los niños tontos/The Foolish Children (Small Stations P).
                        For the translated text of Ana María Matute’s Los niños tontos, she and her co-author were finalists
                        for the Queen Sofía Spanish Institute Translation Prize. Aileen Dever received the Excellence in Teaching
                        Award at Quinnipiac University.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb_tag">
        <div class="container text-start">
            <div class="row">
                <div class="col align-self-start">
                    <div class="text-center">
                        <img class="thumb_img" src="{% static 'images/Pro_Niki_Kiviat.png' %}">
                    </div>
                    <div class="thumb_bar text-center">
                        Poster Contest Coordinator - Niki Kiviat
                    </div>
                    <p>
                        Niki Kiviat serves on the Upper School World Language Faculty at Greenwich Country Day School,
                        where she teaches Spanish and Italian. Dr. Kiviat earned her PhD from Columbia University in
                        2020, where her dissertation focused on the continuities and changes within Italy's postwar
                        foodscape, as conveyed in films of the "Economic Miracle," 1954-1973.
                        She has published and given guest lectures on postwar food studies,
                        and she is the co-editor of <em>(In)digestion in Literature and Film: A Transcultural Approach (2020)</em>,
                        a collection of essays that redefine hunger and non-normative eating practices around the world.
                        She is honored to be the AATSP Poster Contest Coordinator in Connecticut, moving into the role
                        after her own students' great successes in the 6-8 Division.
                    </p>
                    </div>
                <div class="col align-self-end"></div>
            </div>
        </div>
    </div>
    <div class="thumb_tag">
        <div class="container text-start">
            <div class="row">
                <div class="col align-self-start"></div>
                <div class="col align-self-end">
                    <div class="text-center">
                        <img class="thumb_img" src="{% static 'images/Pro_Jatniel_Veliz.png' %}">
                    </div>
                    <div class="thumb_bar text-center">
                        Webmaster - Jatniel Veliz
                    </div>
                    <p>
                        Jatniel Veliz is a Programmer at Yale Printing & Publishing Services. Graduated from Southern
                        Connecticut State University with a Bachelor's degree in computer science.
                        <br>
                        Check out <a href="https://jatnielveliz.vercel.app" target="_blank">my website!</a>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="bar_lg">
        <span>Members</span>
    </div>

    <div class="thumb_tag">
        <div class="container text-start">
            <div class="row">
                <div class="col align-self-start">
                    <div class="text-center">
                        <img class="thumb_img" src="{% static 'images/Pro_Nicole_kurker.png' %}">
                    </div>
                    <div class="thumb_bar text-center">
                        Nicole Kurker-Stewart
                    </div>
                    <p>
                        Nicole Kurker-Stewart has worked in the field of international education for 11 years.
                        Since 2016, she has served as the Director of the International Center at the University
                        of Hartford, overseeing education abroad and international student and scholar services.
                        Prior to her time at Hartford, she was the Assistant Director for International Students
                        and Programs at Quinnipiac University. Since 2010, Nicole has been heavily involved with
                        NAFSA: Association of International Educators, where she has volunteered as the Connecticut
                        State Representative, trained colleagues on immigration regulations, mentored new professionals,
                        and advocated for international initiatives in Washington, D.C., among other positions.
                        Nicole also teaches Spanish at Quinnipiac University, and has conducted faculty-led programs
                        abroad to Spain and England. She enjoys traveling and learning about other cultures, as well as
                        playing the piano and reading. Nicole holds a Bachelor of Arts degree in Spanish and History
                        from Quinnipiac University, and a Master of Arts degree in Spanish Linguistics from Middlebury College.
                    </p>
                    </div>
                <div class="col align-self-end"></div>
            </div>
        </div>
    </div>
    <div class="thumb_tag">
        <div class="container text-start">
            <div class="row">
                <div class="col align-self-start"></div>
                <div class="col align-self-end">
                    <div class="text-center">
                        <img class="thumb_img" src="{% static 'images/Pro_Covadonga_Arango.jpg' %}">
                    </div>
                    <div class="thumb_bar text-center">
                        Covadonga Arango-Martín
                    </div>
                    <p>
                        Instructor of the Practice
                        Moderns Languages and Literatures
                        <br>
                        Email: <a href="mailto:marango-martin@fairfield.edu">marango-martin@fairfield.edu</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="thumb_tag">
        <div class="container text-start">
            <div class="row">
                <div class="col align-self-start">
                    <div class="text-center">
                        <img class="thumb_img" src="{% static 'images/Pro_Maria_Casas.jpg' %}">
                    </div>
                    <div class="thumb_bar text-center">
                        Maria Casas
                    </div>
                    <p>
                        Professor at CCSU
                        <br>
                        World Languages, Literatures, and Cultures
                        <br>
                        Email: <a href="mailto:casasmal@ccsu.edu">casasmal@ccsu.edu</a>
                    </p>
                    </div>
                <div class="col align-self-end"></div>
            </div>
        </div>
    </div>
    <div class="thumb_tag">
        <div class="container text-start">
            <div class="row">
                <div class="col align-self-start"></div>
                <div class="col align-self-end">
                    <div class="text-center">
                        <img class="thumb_img" src="{% static 'images/Pro_Rocio_Fuentes.jpg' %}">
                    </div>
                    <div class="thumb_bar text-center">
                        Dr.Rocio Fuentes
                    </div>
                    <p>
                        Associate Professor
                        <br>
                        Department Chair World Languages, Literatures, and Cultures
                        <br>
                        Email: <a href="mailto:rocio.fuentes@ccsu.edu">rocio.fuentes@ccsu.edu</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{% static 'js/ct_origin.js' %}"></script>
{% endblock %}